body {
  background-color: #f1dfd2;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e2ecd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-image-size {
  width: 300px; /* specify your desired width */
  height: 200px; /* specify your desired height */
  object-fit: cover; /* or other object-fit value as needed */
}

button:hover {
  background-color: #c0a13d;
}

/* Initially hide the audio element */
audio {
  display: none;
}
#gambar1 {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/hp%20(1).png") center / contain no-repeat;
}

@media (min-width: 576px) {
  #gambar1 {
    background: url("../../assets/img/pc%20(1).png") center / cover no-repeat;
  }
}

#gambar2 {
  background: url("../../assets/img/hp%20(2).png") center / cover no-repeat;
  width: 100%;
  height: 100vh;
}

@media (min-width: 576px) {
  #gambar2 {
    background: url("../../assets/img/pc%20(2).png") center / cover no-repeat;
  }
}

.buttonnav {
  background: rgba(255,255,255,0);
  border-style: groove;
  display: grid;
  position: relative;
  overflow: visible;
}

#footer {
  position: sticky;
  display: block;
}

